body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

.bonnie {color: blue;}
.funtime {color: white;}
.shadow {color: black;}
.LOL {color: purple;}
.fox {color: orange;}
.mangle {color: white;}
#ME {background-color: BlanchedAlmond; font-size: 34px; font-family: fantasy; border: 3px dotted black;}
h3 {font-size: 11px;}
#fnaf {text-align: center; margin-left: 20px}
#Fox {color: orange;}
#Frog {color: green;}
#Bay {color: BlanchedAlmond;}
#Cat {color: black;}
table {border: 2px dotted Olive; margin-left: 250px;}
#Office {margin-left: 20px;}
#FNAFGROUP {margin-left: 180px;}


